#messageboard .card-header form {
  display: inline;
}
.emoji-drawer {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  width: 100px;

  margin-bottom: 32px;
  transition: opacity 0.2s;
}

.hidden {
visibility: hidden;
}

.emoji {
  text-align: center;
  font-size: 24px;
  padding: 8px;
}

.emoji:hover {
  cursor: pointer;
}

.dropbtn {
background-color: #3498DB;
color: white;
padding: 16px;
font-size: 16px;
text-align: center;
border: none;
}

.dropup {
position: relative;
display: inline-block;
}

.dropup-content {
display: none;
position: absolute;
bottom: 40px;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropup-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropup-content a:hover {background-color: #ddd}

.dropup:hover .dropup-content {
display: block;
}

.dropup:hover .dropbtn {
background-color: #2980B9;
}

#profile-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

#profile-container img {
  width: 150px;
  height: 150px;
}